.material-icons {
    display: block !important;
}
.material-icons.toolbar {
  top: 4px;
}
.material-icons.primary {
    color: #fff !important;
}
.material-icons.grey {
    color: #7a8b99 !important;
}
